# Node.js
node_modules/
backend/node_modules
backend/.env
# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env*

# Build artifacts
dist/
build/

# Packaged files
*.tgz